#header {
    text-align: center;
    margin: auto 2em 
}
p {
    margin: .2em auto;
    color:#001427;
}

section {
    margin: 1em 4em 2em;
    
}
h1, h2 {
    font-weight: 100px;
    margin-bottom: 0;
}

html {
    font-family:"Courier New", monospace;
}

body {
    background-color: #669bbc;   

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    min-height: 100vh; /* Make sure the container covers the entire viewport height */
}

    .container {
        width: 80%; /* Set the width of the container */
        max-width: 800px; /* Max width for better readability on larger screens */
    }

    /* Clear floats */
    .container::after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the columns */
    .column {
        width: calc(50% - 10px);        
        float: left;
        margin-right: 2%; /* Add some space between columns */
    }

    /* Clear the last column float */
    .column:last-child {
        margin-right: 0;
    }

#rightside {
    column-count:2;
    column-gap:4px;
}
  main {
    color:#003049;
  }
 a:link {
    color: #003049; 
 }
 a:hover {
    color: darkslategrey;
 }

 a:visited {
    color:#f2e8cf; 
 }

 header {
    color:#003049;
 }
 li {
    color:#001427;
 }
