#header {
    text-align: center;
    margin: auto 2em 
}
p {
    margin: .2em auto
}

section {
    margin: 1em 4em 2em
    
}
h1, h2 {
    font-weight: 100px;
    margin-bottom: 0;
}

html {
    font-family:"Courier New", monospace;
}

body {
    background-color: #669bbc;   
}

rightside. {
    margin:
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  main {
    color:#003049;
  }
 a:link {
    color: #003049; 
 }
 a:hover {
    color: darkslategrey
 }

 a:visited {
    color:#f2e8cf; 
 }

 header {
    color:#003049;
 }